# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
packages/

# Others
*.swp
*.tmp
*.pdb

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

